<footer>

  <div class="text-center py-5">

    <% if user_signed_in? %>
        <%= link_to 'Admin', admin_path %> |
    <% end %>

    © <%= Date.current.year %> Nimble Labs, LLC

  </div>

</footer>