<footer>

  <div class="text-center py-5">

    <% if user_signed_in? && current_user.admin? %>
        <%= link_to 'Admin', admin_path %> |
    <% end %>

    © <%= Date.current.year %> Harris Reynolds

  </div>

</footer>