<% content_for :title do %>
    SimplSites
<% end %>

<div class="container-fluid svg-background" style="height: 500px; background-image: url('/confetti-doodles.svg');">
  <div class="container py-5 h-100">
    <div class="row h-100 d-flex align-items-center">
      <div class="col-12 text-center">
        <h1 class="display-4">SimplSites</h1>
        <h3 class="display-4">A simple, clean blog system in Rails</h3>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5">

  <h2 class="mb-5">Latest from the blog...</h2>

  <%= render 'shared/post_gallery' %>

</div>