<% content_for :title do %>
    Helping shine a light to anyone who needs it
<% end %>

<div class="container mt-5">

  <h2 class="mb-5">Latest Posts</h2>

  <%= render 'shared/post_gallery' %>

</div>